{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block body %}
    {{ parent() }}
    <!-- Principal Content Start -->
    <div id="login">
        <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <h1>LOGIN</h1>
                <hr>
                <br>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                           class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="btn btn-lg" type="submit">
                        ENVIAR
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
